@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.not-scroll {
  overflow: hidden;
  padding-right: 17px;
}

@media only screen and (max-width: 1210px) {
  body.not-scroll {
    padding-right: 0;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  min-width: 280px;
  max-width: 1180px;
  margin: 0 auto;
}

@media only screen and (max-width: 1210px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
:root {
  --color-beige: #AC9376;
}

.site-header {
  padding: 13px 0 12px;
  border-bottom: 1px solid #E8E8E8;
}

.inner {
  min-width: 280px;
  max-width: 1180px;
  margin: 0 auto;
}

@media only screen and (max-width: 1210px) {
  .inner {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

@media only screen and (max-width: 992px) {
  .site-header__left {
    width: auto;
    padding: 0;
  }
}
.header-logo {
  flex-shrink: 0;
}
.header-logo img {
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .header-logo {
    width: 100px;
  }
}
.site-header__right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

@media only screen and (max-width: 992px) {
  .site-header__right {
    width: auto;
    padding: 0;
  }
}
.header-touch {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .header-touch {
    margin-right: 20px;
  }
}
.header-lang {
  margin: 0 auto;
}

.header-lang ul {
  display: flex;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}

.header-lang ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: var(--color-beige);
  outline: none;
}

.header-lang ul li:not(:last-child):after {
  content: "|";
  display: inline-block;
  margin: 0 4px;
}

.header-lang ul li.active a {
  font-weight: 700;
  color: var(--color-beige);
}

.header-account a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .header-account a {
    font-size: 0;
    line-height: 0;
  }
}
.header-account a i {
  display: block;
  margin-left: 25px;
}

@media only screen and (max-width: 992px) {
  .header-account a i {
    margin-left: 20px;
  }
}
.header-account a svg {
  stroke: #fff;
  fill: var(--color-beige);
}

.mobile-panel {
  visibility: hidden;
  transform: translate(-400px);
  opacity: 0;
  top: 0;
  left: 0;
  width: 410px;
  max-width: 95%;
  height: 100%;
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 29px 61px 10px;
  background: #fff;
  transition: all 0.2s ease-out 0s;
  overflow-y: auto;
  z-index: 101;
}

.mobile-panel.show {
  visibility: visible;
  transform: translate(0);
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .mobile-panel {
    width: 350px;
    padding: 29px 30px;
  }
}
.mobile-panel__close {
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin: 0 0 59px 6px;
}

.mobile-panel__close svg {
  fill: #797979;
}

@media only screen and (max-width: 992px) {
  .mobile-panel__close {
    margin: 0 0 40px 6px;
  }
}
.mobile-menu {
  margin-bottom: 53px;
}

.mobile-menu > ul > li {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 22px;
}

.mobile-menu > ul > li > a {
  display: block;
  padding: 4px 0;
  text-decoration: none;
  color: #000;
}

.mobile-menu > ul > li.disabled a {
  color: #999;
}

.mobile-menu > ul > li > a:hover {
  font-weight: 700;
  color: var(--color-beige);
}

@media only screen and (max-width: 992px) {
  .mobile-menu {
    margin-bottom: 30px;
  }
}
.mobile-account {
  padding: 61px 6px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 57px;
}

.mobile-account a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.mobile-account a i {
  line-height: 0;
  margin-right: 22px;
}

.mobile-account a i svg {
  fill: var(--color-beige);
}

@media only screen and (max-width: 992px) {
  .mobile-account {
    padding: 30px 6px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
  }
}
.button {
  display: inline-block;
  padding: 19px 10px 20px;
  min-width: 192px;
  border: 1px solid #858585;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.button_beige {
  background: var(--color-beige);
  border-color: var(--color-beige);
}

.mobile-btn .button {
  width: 100%;
}

.mobile-panel-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.35);
  backdrop-filter: blur(2px);
  z-index: 40;
  overflow-y: scroll;
  transition: all 0.2s;
}

.mobile-panel-overlay.show {
  visibility: visible;
  opacity: 1;
}

.site-footer {
  flex: 0 0 auto;
  position: relative;
  border-top: 1px solid #E8E8E8;
}

.inner {
  min-width: 280px;
  max-width: 1180px;
  margin: 0 auto;
}

@media only screen and (max-width: 1210px) {
  .inner {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

@media only screen and (max-width: 992px) {
  .site-footer__container {
    flex-direction: column;
  }
}
.footer-copyright {
  width: 33.333333333%;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1c;
}

@media only screen and (max-width: 992px) {
  .footer-copyright {
    width: auto;
    padding: 0;
    order: 3;
  }
}
@media only screen and (max-width: 767px) {
  .footer-copyright, .footer-email {
    font-size: 14px;
  }
}
.footer-email {
  width: 33.333333333%;
  padding: 0 30px;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1c;
  text-align: center;
}

.footer-email a {
  color: #1c1c1c;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .footer-email {
    width: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-copyright, .footer-email {
    font-size: 14px;
  }
}
.footer-social {
  width: 33.333333333%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .footer-social {
    justify-content: center;
    width: auto;
    padding: 15px 0;
  }
}
.footer-social a {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

.footer-social a svg {
  fill: var(--color-beige);
}

@media only screen and (max-width: 992px) {
  .footer-social a {
    margin: 0 14px;
  }
}
.main-block:not(:last-child) {
  margin: 0 0 75px 0;
}
@media (max-width: 1210px) {
  .main-block:not(:last-child) {
    margin: 0 0 70px 0;
  }
}
@media (max-width: 991.98px) {
  .main-block:not(:last-child) {
    margin: 0 0 60px 0;
  }
}
@media (max-width: 767.98px) {
  .main-block:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 479.98px) {
  .main-block:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
.main-block__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.main-block__column {
  flex: 0 1 50%;
}
@media (max-width: 1150px) {
  .main-block__column:first-child {
    flex: 1 1 100%;
    margin: 0 0 35px 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__column:first-child {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 479.98px) {
  .main-block__column:first-child {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 991.98px) {
  .main-block__column:last-child {
    flex: 0 1 60%;
  }
}
@media (max-width: 767.98px) {
  .main-block__column:last-child {
    flex: 0 1 70%;
  }
}
@media (max-width: 600px) {
  .main-block__column:last-child {
    flex: 0 1 75%;
  }
}
@media (max-width: 550px) {
  .main-block__column:last-child {
    flex: 1 1 100%;
  }
}
.main-block__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
@media (max-width: 600px) {
  .main-block__nav .btn {
    margin: 25px 0 0 0;
  }
}
@media (max-width: 1150px) {
  .main-block__nav {
    padding: 35px 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__nav {
    padding: 30px 0px;
  }
}
@media (max-width: 600px) {
  .main-block__nav {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .main-block__nav {
    padding: 25px 0px;
  }
}
.main-block__content {
  padding: 0 100px 0 0;
}
.main-block__content:not(:last-child) {
  margin: 0 0 35px 0;
}
@media (max-width: 1210px) {
  .main-block__content {
    padding: 0 80px 0 0;
  }
  .main-block__content:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 1150px) {
  .main-block__content {
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__content:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 479.98px) {
  .main-block__content:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.main-block__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 119.5%;
  color: #AC9376;
}
.main-block__subtitle:not(:last-child) {
  margin: 0 0 30px 0;
}
@media (max-width: 1210px) {
  .main-block__subtitle:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 1210px) {
  .main-block__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .main-block__subtitle {
    font-size: 14px;
  }
  .main-block__subtitle:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__subtitle {
    font-size: 13px;
  }
  .main-block__subtitle:not(:last-child) {
    margin: 0 0 17.5px 0;
  }
}
@media (max-width: 479.98px) {
  .main-block__subtitle {
    font-size: 12px;
  }
  .main-block__subtitle:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.main-block__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 119.5%;
  color: #000000;
}
.main-block__title:not(:last-child) {
  margin: 0 0 30px 0;
}
@media (max-width: 1210px) {
  .main-block__title {
    font-size: 28px;
  }
  .main-block__title:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 991.98px) {
  .main-block__title {
    font-size: 26px;
  }
  .main-block__title:not(:last-child) {
    margin: 0 0 22.5px 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__title {
    font-size: 24px;
  }
  .main-block__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 479.98px) {
  .main-block__title {
    font-size: 18px;
  }
  .main-block__title:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.main-block__text {
  font-size: 14px;
  line-height: 119.5%;
  color: rgba(0, 0, 0, 0.8);
}
.main-block__text p:not(:last-child) {
  margin: 0 0 17px 0;
}
@media (max-width: 767.98px) {
  .main-block__text {
    font-size: 12px;
  }
}
@media (max-width: 479.98px) {
  .main-block__text {
    font-size: 11px;
  }
  .main-block__text p:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
.main-block__location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 119.5%;
  color: #000000;
  background-color: #FFFFFF;
}
.main-block__location_icon {
  margin: 0 30px 0 0;
}
@media (max-width: 1210px) {
  .main-block__location_icon {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 767.98px) {
  .main-block__location_icon {
    margin: 0 15px 0 0;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (max-width: 479.98px) {
  .main-block__location_icon {
    margin: 0 10px 0 0;
  }
}
.main-block__location_text span {
  display: inline-block;
  color: #AC9376;
  font-weight: 700;
  margin: 0 3px 0 0;
}
@media (max-width: 991.98px) {
  .main-block__location_text {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
  .main-block__location_text {
    font-size: 12px;
  }
}
@media (max-width: 479.98px) {
  .main-block__location_text {
    font-size: 11px;
  }
}
.all-company__btn {
  font-size: 16px;
  line-height: 119.5%;
  color: #858585;
}
@media (max-width: 600px) {
  .all-company__btn {
    flex: 0 1 50%;
  }
}

.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
  transform: translate(20px, 0);
}
@media (max-width: 767.98px) {
  .navigation {
    transform: translate(0, 0);
  }
}
@media (max-width: 600px) {
  .navigation {
    flex: 0 1 50%;
    justify-content: flex-end;
  }
}
.navigation__prev {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.navigation__prev svg {
  fill: var(--color-beige);
}
.navigation__prev.disabled {
  cursor: default;
}
.navigation__prev.disabled svg {
  fill: #e8e8e8;
}
.navigation__number {
  font-size: 20px;
  line-height: 119.5%;
  color: #AC9376;
  margin: 0 35px;
}
.navigation__next {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.navigation__next svg {
  fill: var(--color-beige);
}
.navigation__next.disabled {
  cursor: default;
}
.navigation__next.disabled svg {
  fill: #e8e8e8;
}

.image-main-block {
  padding: 0 0 86.78% 0;
  position: relative;
}
.image-main-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-block {
  margin: 0 0 45px 0;
}
@media (max-width: 1210px) {
  .info-block {
    margin: 0 0 32.5px 0;
  }
}
@media (max-width: 991.98px) {
  .info-block {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 767.98px) {
  .info-block {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 479.98px) {
  .info-block {
    margin: 0 0 15px 0;
  }
}
.characteristics {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: 0 -50px;
}
@media (max-width: 1150px) {
  .characteristics {
    margin: 0 -30px;
  }
}
@media (max-width: 950px) {
  .characteristics {
    margin: 0 -15px;
  }
}
@media (max-width: 479.98px) {
  .characteristics {
    margin: 0 -10px;
  }
}
.characteristics__item {
  margin: 0 0 30px 0;
}
@media (max-width: 479.98px) {
  .characteristics__item {
    margin: 0 0 25px 0;
  }
}

.item-characteristics {
  padding: 0 50px;
  flex: 0 1 25%;
}
@media (max-width: 1150px) {
  .item-characteristics {
    padding: 0 30px;
  }
}
@media (max-width: 950px) {
  .item-characteristics {
    padding: 0 15px;
  }
}
@media (max-width: 870px) {
  .item-characteristics {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 600px) {
  .item-characteristics {
    flex: 0 1 50%;
  }
}
@media (max-width: 479.98px) {
  .item-characteristics {
    padding: 0 10px;
  }
}
.item-characteristics__label {
  font-weight: 700;
  font-size: 30px;
  line-height: 119.5%;
  color: #454545;
}
.item-characteristics__label:not(:last-child) {
  margin: 0 0 8px 0;
}
@media (max-width: 1210px) {
  .item-characteristics__label {
    font-size: 27px;
  }
}
@media (max-width: 991.98px) {
  .item-characteristics__label {
    font-size: 24px;
  }
}
@media (max-width: 767.98px) {
  .item-characteristics__label {
    font-size: 21px;
  }
}
@media (max-width: 479.98px) {
  .item-characteristics__label {
    font-size: 18px;
  }
}
.item-characteristics__text {
  font-size: 14px;
  line-height: 119.5%;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 1210px) {
  .item-characteristics__text {
    font-size: 13px;
  }
}
@media (max-width: 991.98px) {
  .item-characteristics__text {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .item-characteristics__text {
    font-size: 11px;
  }
}

.services-block {
  margin: 0 0 70px 0;
}
@media (max-width: 991.98px) {
  .services-block {
    margin: 0 0 60px 0;
  }
}
@media (max-width: 767.98px) {
  .services-block {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 479.98px) {
  .services-block {
    margin: 0 0 40px 0;
  }
}
.services-block__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0 -10px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1210px) {
  .services-block__row {
    margin: 0 -10px;
  }
}
@media (max-width: 991.98px) {
  .services-block__row {
    margin: 0 -10px;
  }
}
@media (max-width: 767.98px) {
  .services-block__row {
    margin: 0 -10px;
  }
}
@media (max-width: 479.98px) {
  .services-block__row {
    margin: 0 -10px;
  }
}
.services-block__column {
  flex: 0 1 33.333%;
  padding: 0 10px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
}
@media (min-width: 680px) {
  .services-block__column:nth-child(1) .services-block__body, .services-block__column:nth-child(2) .services-block__body, .services-block__column:nth-child(3) .services-block__body {
    height: 100%;
    padding: 20px 20px 80px 20px;
  }
}
@media (max-width: 1150px) {
  .services-block__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 680px) {
  .services-block__column {
    flex: 1 1 100%;
    margin: 0 0 25px 0;
  }
}
.services-block__body {
  background: #FBFBFB;
  padding: 20px;
}
@media (max-width: 1150px) {
  .services-block__body {
    height: 100%;
  }
}
@media (max-width: 479.98px) {
  .services-block__body {
    padding: 15px;
  }
}
.services-block__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 119.5%;
  color: #000000;
}
.services-block__title:not(:last-child) {
  margin: 0 0 30px 0;
}
.services-block__title img {
  margin: 0 40px 0 0;
}
@media (max-width: 991.98px) {
  .services-block__title:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 767.98px) {
  .services-block__title {
    font-size: 16px;
  }
  .services-block__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .services-block__title img {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 25px 0 0;
  }
}
@media (max-width: 479.98px) {
  .services-block__title {
    font-size: 14px;
  }
  .services-block__title:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .services-block__title img {
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    margin: 0 15px 0 0;
  }
}
.services-block__item {
  position: relative;
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 119.5%;
  color: #000000;
}
.services-block__item:not(:last-child) {
  margin: 0 0 5px 0;
}
.services-block__item::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 10px;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background-color: #000000;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .services-block__item {
    font-size: 12px;
  }
}
@media (max-width: 479.98px) {
  .services-block__item {
    font-size: 11px;
  }
}

.btn {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 55px;
  padding: 5px 95.6px;
  background: #AC9376;
  font-weight: 500;
  font-size: 16px;
  line-height: 119.5%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background: #a7835b;
}
@media (max-width: 991.98px) {
  .btn {
    font-size: 15px;
    height: 52px;
    padding: 5px 80px;
  }
}
@media (max-width: 767.98px) {
  .btn {
    font-size: 14px;
    height: 48px;
    padding: 5px 70px;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 13px;
    height: 42px;
    padding: 5px 50px;
  }
}